
*.aux

*.log

Maturaarbeit.pdf

Maturaarbeit.synctex.gz

*.toc

Maturaarbeit.blg

Maturaarbeit.bbl

Maturaarbeit.glg

Maturaarbeit.glo

Maturaarbeit.gls

Maturaarbeit.idx

Maturaarbeit.ist

Maturaarbeit.out

Maturaarbeit.xdy
